@page "/AdminMode"
@inject NavigationManager NavigationManager

<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
 
<h3>Admin Mode</h3>
&nbsp;

<hr />

<button class="btn btn-primary" style="font-size: 15px;">Admin Mode</button>

<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>

@code {

}
