@page "/TicketView"
@inject NavigationManager NavigationManager

<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>

<h3>Ticket List</h3>
&nbsp;
<hr />

<form>
	<label for="IdNum" style="font-size: 25px; margin-bottom: 20px;">ID Number:</label><br>

	<label for="TCTNum" style="font-size: 25px; margin-bottom: 20px;">Tct Number:</label><br>

	<label for="LicenseNo" style="font-size: 25px; margin-bottom: 20px;">Licesnse Number:</label><br>

	<label for="LastName" style="font-size: 25px; margin-bottom: 20px;">Last Name:</label><br>

	<label for="FirstName" style="font-size: 25px; margin-bottom: 20px;">First Name:</label><br>

	<label for="MiddleName" style="font-size: 25px; margin-bottom: 20px;">Middle Name:</label><br>

	<label for="LicenseType" style="font-size: 25px; margin-bottom: 20px;">License Type:</label><br>

	<label for="Officer" style="font-size: 25px; margin-bottom: 20px;">Officer:</label> <br>

	<label for="Address" style="font-size: 25px; margin-bottom: 20px;">Address:</label> <br>

	<label for="VehicleDescription" style="font-size: 25px; margin-bottom: 20px;">Vehicle Description:</label> <br>

	<label for="PlaceApprehended" style="font-size: 25px; margin-bottom: 20px;">Place Apprehended:</label>
	<hr />

	<button class="btn btn-primary" @onclick="BackButton" style="font-size: 15px;">Return to List</button>
	<hr />
</form>

<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>

@code {
	private void BackButton()
	{
		NavigationManager.NavigateTo("/TicketList");
	}
}
